
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 90vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start; /* container stays top-centered */
  align-items: center;
  padding-top: 20px; /* breathing room */
  font-family: "Josefin Sans", sans-serif;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);; 
}

h1 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.4rem;
}
h5 {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
p .lead{
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}


/* All screens hidden by default */
.screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}



/* Only the active screen is visible */
.screen.active {
  display: flex;
}

/* Container styling */
.container {
  max-width: 700px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #F7E7CE;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
  padding: 10px;
}

.lead {
    font-weight: 600;
}

#start-screen p {
  font-size: 0.9rem;
}
/* buttons */
.custom-btn-easy{
    background-color: rgb(38, 128, 0);
    border: 2px outset;
     transition: transform 0.2s, background-color 0.2s;
    font-size: 1.2rem;
     

}
.custom-btn-medium {
    background-color: rgb(212, 140, 7);
    border: 2px outset;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 1.2rem;
    
}

.custom-btn-hard {
    background-color: rgb(255, 25, 0);
    border: 2px outset;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 1.2rem;
    
}

.custom-btn-hard:active, .custom-btn-medium:active, .custom-btn-easy:active {
  transform: scale(0.97)
}

/* topics buttons - general */


.topic-btn-geography {
  background-color: #ff854d;
  color: rgb(31, 3, 3);
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none; /* remove Bootstrap shadow */
}

/* Hover and focus */
.topic-btn-geography:hover {
  background-color: #842e06;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.topic-btn-geography:active {
  background-color: #5a1f04;
  transform: scale(0.98);
 
}
/* music */
.topic-btn-music{
  background-color: #7dd6ef;
  color: rgb(33, 7, 99) !important;
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none; /* remove Bootstrap shadow */
  
}

/* Hover and focus */
.topic-btn-music:hover {
  background-color: #093f4e;
  color: white !important;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

/* Active (pressed) */
.topic-btn-music:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
}
/* general knowledge */
.topic-btn-general {
  background-color: #b27bdc;
  color: white;
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none; /* remove Bootstrap shadow */
  
}

/* Hover and focus */
.topic-btn-general:hover {
  background-color: #480e7a;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;

}

/* Active (pressed) */
.topic-btn-general:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
 
}


/* Buttons uniform size */
#difficulty, #topics {
  width: 80%;
  text-transform: uppercase;
}

.topic-btn, .difficulty{
font-size: 0.9rem;
  width: 75%;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.1s, transform 0.1s;
}

/* start button */

.start-btn, .custom-btn-restart{
    width: 200px;
    text-transform: uppercase;
    background-color: midnightblue;
    transition: transform 0.1s, background-color 0.1s;
    border-radius: 8px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
   
    
    
}
.custom-btn:hover, .custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
  
}

.custom-btn:active, .custom-btn-restart:active {
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}

/* quiz screen */
.quiz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  width: 100%;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* questions */
.question-text {
 color: #333;
 font-size: 1.2rem;
 margin-bottom: 1rem;
 margin-top: 20px;
 line-height: 1.6rem;
 font-weight: 700;
}

/* answers box */
.answers-container {
  display: grid;
  grid-template-columns: 1fr; /* mobile: 1 column */
  gap: 12px;
  justify-items: center;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}
/* answer buttons */
 .custom-btn-answer {
  width: 100%;
  min-height: 45px;
  background-color: aliceblue;
  border: none;
  border-radius: 8px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  padding: 10px;
  font-weight: 600;
  
}
.custom-btn-answer:hover{
  background-color:#e2ceaf;
  transition: 0.3s ease-in-out;
}


/* correct and incorrect indicators */
 .custom-btn-answer.correct {
  background-color: green ;
  color: white ;
  border: 3px solid darkgreen ;
}


.custom-btn-answer.incorrect {
  background-color: red ;
  color: white ;
  border: 3px solid darkred ;
}

.custom-btn-answer.disabled, .custom-btn-topic1.disabled
, .custom-btn-topic2.disabled, .custom-btn-topic3.disabled, .custom-btn-easy.disabled, .custom-btn-medium.disabled, .custom-btn-hard.disabled   {
  pointer-events: none;
  opacity: 0.5;
}
/* progress */
.progress-bar {
    width: 100%;
    height:10px;
    border:1px solid aliceblue;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress {
  height: 100%;
   background-color: rgb(255, 77, 0) !important;
   width: 0%;
  
}

/* end screen */

.score, .message {
    font-size: 1.3rem;
    margin: 15px 0;
    font-weight: 600;
    height: auto;
} 

.custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
  
} 

.custom-btn-restart:active{
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}

#mute-btn {
  position: fixed;
  top: 10vw;
  left: 5vw;
  min-width: 5vw;
  padding: 1vw;
  background: none;
  border: unset;
}

@media (min-width: 576.1px) {
  .answers-container {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.3rem;
  }

  #start-screen p {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .topic-btn, .difficulty {
    font-size: 1.2rem;
  }
  
  .question-text {
    font-size: 1.4rem;
  }
}
    