* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  flex-direction: column;
  min-height: 100vh;       /* ensures body fills viewport */
}

/* All screens hidden by default */
.screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

/* Only the active screen is visible */
.screen.active {
  display: flex;
}

/* Container styling */
.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
  padding: 10px;
}

/* Buttons uniform size */
.topic-btn, .difficulty-btn {
  width: 200px;
  text-transform: uppercase;
}
.quiz-info  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  align-items: center; 
  width: 100%;          
  padding: 0 10px;   
}

.question-text {
 color: #333;
 font-size: 1.5rem;
 margin-bottom: 1rem;
 line-height: 1.4rem;
 margin-top: 20px;
}

/* answers box */
.answers-container {
  display: grid;
  grid-template-columns: 1fr; /* mobile: 1 column */
  gap: 12px;
  justify-items: center;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.answer-btn {
  width: 100%;
  min-height: 45px;
  background-color: aliceblue;
  border: none;
  border-radius: 8px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  padding: 10px;
  font-size: 1rem;
  transition: background-color 0.2s, transform 0.1s;
}
.progress-bar {
    width: 100%;
    height:10px;
    border:1px solid aliceblue;
    border-radius: 5px;
    margin-top: 10px;
}

.progress {
    background-color: red;
  
}

@media (min-width: 576px) {
  .answers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
    

