

 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  object-fit: cover;
 
  
  
}
/* error page 404 */
.other-page {
  width: 100%;
  display: flex;
  font-family: "Josefin Sans", sans-serif;        
  justify-content: center;         
  align-items: center; 
  background-color: #030e21; 
  background-image: linear-gradient(315deg, #3928d2 0%, #05051a 34%, rgb(28, 28, 113));  /* Page background color */ /* or overlay, screen, darken, lighten */
  padding: 0;

}
.other-page img {
  max-width: 180px;
  margin: 1rem auto;
        
}
.other-page .logo-img {
  margin-right: 0.5rem;
}

.other-page p{
  color:#e155ca;
  font-size: 0.8rem;
  font-weight: 600;
 
}

.other {
  font-size: 1.2rem;
  color:#e155ca;
  padding-bottom: 0.5rem;
}

.other-page .navbar {
  padding:0;
}
.other-page footer {
  padding: 0.7rem;
  
}
.container-error {
  width: 80%;
}

#home-btn  {
  background-color: midnightblue;
  border:2px solid #e155ca;
  color: #05d6d9;
  font-weight: 700;
  margin-bottom: 0;
   
}

.other-page .footer-info p {
  color: #05d6d9;
}

#home-btn:hover {
 background-color:#e155ca;
 border: 2px solid midnightblue;
 color: midnightblue;
 transition: 0.3s ease-in-out;
}

/* main screen */
h1 {
  font-size: 0.9rem;
  margin:  0;
  padding-bottom: 0.2rem;
  font-weight: 700;
}

h2 {
  font-size: 0.9rem;
  margin: 0.3rem, 0;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

p {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0;
  letter-spacing: 0.05rem;
}
/* containers */
.container-end, .container {
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #F7E7CE;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
}

.container-quiz{
  width: 90%;
  height: auto;
  padding: 1rem;
  background-color: #F7E7CE;
  border-radius: 8px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
}
.answers-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;                         
  margin: 0 auto;
  font-size: 0.9rem;
  flex-grow: 1;
  
}
/* question-text */
.question-text {

  margin: 0.5rem;
  font-weight: 700;
}


/* buttons */
.custom-btn-easy,
.custom-btn-medium,
.custom-btn-hard,
.topic-btn-geography,
.topic-btn-music,
.topic-btn-general,
.start-btn {
  padding: 0.16rem;
  margin: 0.25rem;
  border-radius: 5px;
  font-weight: 700;
}

.difficulty,
.topic-btn,
.start-btn {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.6rem;

}

.custom-btn-easy{
    background-color: rgb(45, 146, 1);
    color: white;;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
    border: none; 
    box-shadow: none;
  transition: 0.3s ease-in-out;
    
}
.custom-btn-medium {
    background-color: rgb(255, 216, 44);
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
    border: none;
    
}

.custom-btn-hard {
  background-color: rgb(255, 25, 0);
  color: white;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  border: none;
 
}

.topic-btn-geography {
  background-color: #ec7943;
  color: #ffffff;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  border: none;
  
}

.topic-btn-music{
  background-color: #05d6d9;
  color: rgb(33, 7, 99) !important;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s; 
  border: none;
}
.topic-btn-general {
  background-color: #9b57cf;
  color: white;;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  border: none;

}
  
.start-btn, .custom-btn-restart{
  background-color: midnightblue;
  transition: transform 0.1s, background-color 0.1s;
  border-radius: 5px;
  padding: 6 0px;   
}

.custom-btn-restart {
  margin: 0.9rem 0;
  font-size: 0.8rem;
}

.custom-btn-answer.disabled, .custom-btn-topic1.disabled
, .custom-btn-topic2.disabled, .custom-btn-topic3.disabled, .custom-btn-easy.disabled, .custom-btn-medium.disabled, .custom-btn-hard.disabled   {
  pointer-events: none;
  opacity: 0.4;
}

.custom-btn-answer {
  width: 100%;
  background-color: aliceblue;
  border: none;
  border-radius: 8px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  padding: 8px;
  font-weight: 600;
  
}

/* FULL GREEN for correct */
button.custom-btn-answer.correct
 { 
  background-color:#056803;
  border-color: #208f38;
  color: #ffffff;
  background-image: none;
  box-shadow: none;
  
}

button.custom-btn-answer.incorrect,
button.custom-btn-answer.incorrect:hover,
button.custom-btn-answer.incorrect:active {
  background-color: #b51b2a;
  border-color: #c02c3b;
  color: #ffffff;
  background-image: none;
  box-shadow: none;
}

 /* compact mute button inside navbar */
  
  /* mute button */
  #mute-icon{
    background-color:  rgba(76, 232, 240, 0.955);
    border-radius: 50%;
  }

  #mute-btn {
    border: none;
    
  }

  #mute-icon:hover {
    background-color: #f452d9;
    transition: 0.3s ease-in-out;
  }
  #mute-btn:active {
    color: midnightblue;
  }

/* modal */
.btn-custom-modal {
    color: rgba(76, 232, 240, 0.955);
     text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-right: 0.2rem;
  }

.btn-custom-modal:hover{
    color: #f452d9;
    transition: 0.3s ease-in-out;
  }
  .modal-title {
    font-size: 1.1rem;
    color: midnightblue;
    font-weight: 700;
  }
  .modal-content {
    color: #040404;
    line-height: 1.5rem;
  }
  .modal-body{
    background-color: #f4ebdc;
    font-size: 0.9rem;
  }
  .modal-header, .modal-footer {
  background-color: #f8d294;
  padding: 0.8rem;
  }
  .custom-btn-modal {
    background-color: midnightblue;
    padding: 0.2rem, 0.5rem;
  }
  .custom-btn-modal:hover {
    background-color: #3324be;
    transition: 0.3s ease-in-out;
  }

  .navbar-brand, .btn-custom-modal {
    font-size: 0.6rem;
    color: rgba(76, 232, 240, 0.955);
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  .bg-body-bg {
    padding: 0;
  }
/* hidden screen */
  .screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Only the active screen is visible */
.screen.active {
  display: flex;
}

/* hover active */
.custom-btn:hover, .custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
}

.custom-btn:active, .custom-btn-restart:active {
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}

.custom-btn-easy:active,
.custom-btn-medium:active,
.custom-btn-hard:active {
  box-shadow: none;
  transform: scale(0.97); 
}
/* buttons */
.custom-btn-easy.selected,
.custom-btn-medium.selected,
.custom-btn-hard.selected,
.topic-btn-geography.selected:focus,
.topic-btn-music.selected:focus,
.topic-btn-general.selected:focus {
  border: 1px solid #ff00cc;
  box-shadow: 0 0 5px 5px rgba(255, 0, 200, 0.5);
} 

/* music Hover and focus */
.topic-btn-music:hover {
  background-color: #093f4e;
  color: white !important;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

/* Music Active (pressed) */
.topic-btn-music:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
}

.topic-btn-general:hover {
  background-color: #480e7a;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
/* General Active (pressed) */
.topic-btn-general:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
}

/* Geography Hover and focus */
.topic-btn-geography:hover {
  background-color: #842e06;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.topic-btn-geography:active {
  background-color: #5a1f04;
  transform: scale(0.97);
}

/* Buttons uniform size */
#difficulty, #topics, .custom-btn-answer, .custom-btn-restart {
  width: 80%;
  text-transform: uppercase;
}

/* answer buttons */
.custom-btn-answer:hover{
  background-color:#e2ceaf;
  transition: 0.3s ease-in-out;
}

.question-text {
  font-size: 0.9rem;
}

/* restart  */
.custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
  transition: 0.3s ease-in-out;
} 

.custom-btn-restart:active{
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}
/* navbar */
  .navbar-brand:hover {
    color: #e155ca;
    transition: 0.3s ease-in-out;
  }

  footer p:hover, .socials a:hover {
  color:#e155ca;
  transition: 0.3s ease-in-out;
}

/* quiz screen */
.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  width: 80%;
  font-size: 0.6rem;
  font-weight: 600;
}
.custom-btn-answer {
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600; 
}

/* progress */
.progress-bar {
  width: 100%;
  height:10px;
  border:1px solid aliceblue;
  border-radius: 5px;
  margin-top: 2rem;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: rgb(255, 77, 0) !important;
  width: 0%;
}

/* footer */
footer {
  background-color: midnightblue;
}

nav {
  background-color: midnightblue;
  padding: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}
  .socials a, .footer-info p {
  font-size: 0.8rem;
  margin: 0 auto;
  color: #05d6d9;
  font-weight: 600;
  
}

/* end screen */
/* message */
#end-screen h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.score, .message{
    font-size: 1.1rem;
    margin: 15px 0;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.05rem;
} 

  a {
    text-transform: uppercase;
    font-size: 0.8rem;
  }


  /* brand logo */
.logo-img {
  margin-right: 0.4rem;
  width: 0.8rem;
}

#mute-icon {
  width: 1rem;
}


@media screen and (min-width:360px) and (max-width: 410.99px) {
  /* error page */
  .other-page img {
  max-width: 100%;
  margin: 1rem auto;
        
}
.other-page .logo-img {
  margin-right: 0.5rem;
}

.other-page p{
  font-size: 1rem;
  font-weight: 600;
 
}

.other {
  font-size: 1.3rem;
  padding-bottom: 0.6rem;
}
#home-btn {
  margin-top: 1rem;
}


  /* start page */
  .container,
  .container-quiz,
  .container-end {
      width: 90%;
      padding: 0.4rem;
      margin: 0 auto; 
  }

  .answers-container {
    width: 100%;
    gap: 10px;         
    padding: 0 10px;    
  }

  .custom-btn-answer {
    width: 100%;
    padding: 5px 10px;      
    font-size: 0.8rem; 
    border: none;
    /* flex-grow: 1; */
  }

  .question-text {
    font-size: 1.2rem;
  }

  .error-page img {
      max-width: 85%;
  }

  /* main page */

    .navbar-brand, .btn-custom-modal, .start-screen p {
    font-size: 0.9rem;
    padding-top: 0;

  }
  .footer-info p {
    padding-top: 0.3rem;
  }
  h1 { 
    font-size: 1.2rem; 
  }

  h2 {
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 800;
  }

  p {
    font-size: 0.8rem;
  }

  .start-btn,
  .topic-btn,
  .custom-btn-easy,
  .custom-btn-medium,
  .custom-btn-hard
  {
    font-size: 0.7rem;
    padding: 0.4rem;
  }

  .start-btn, .custom-btn-restart {
    margin-top: 0.7rem;
  }

  .custom-btn-answer {
    width: 100%;
    padding: 0.8rem 0.9rem;      
    font-size: 0.9rem; 
    border: none;
  }

  .footer-info p {
    font-size: 1rem;
  }
  #mute-icon {
    width: 1.4rem;
    padding: 0;
  }
}

@media screen and (min-width:411px) and (max-width:767.9px){

  .container-error img {
    max-width: 300px;
  }

  .container-error h1 {
    font-size: 1.8rem;
  }
  .container-error p {
    font-size: 1.1rem;
  }
  /* main page */
  .navbar {
    padding: 0.5rem;
  }
  .footer-info {
    padding-top: 0.5rem;
  }

  .navbar-brand, .btn-custom-modal, .start-screen p, .footer-info p{
    font-size: 0.9rem;
    padding: 0;
  }

  .container, .container-end {
    padding: 0;
    margin: 0;
    width: 90%;
    flex-shrink: 1;
  }

  .start-screen h1 {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .start-screen h2 {
    font-size:1.1rem ;
    padding: 0;
    font-weight: 700;
  }
  .start-screen p {
    font-size: 1rem;
    
  }

  .difficulty, .topic-btn, .custom-btn-answer {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
   
  }
  .start-btn, .custom-btn-restart {
    font-size: 1rem;
    margin: 0.6rem auto;
    padding: 0 0.6rem;
    line-height: 1.8;
    
  }

  .question-text {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
  }

  .quiz-info p{
    font-size: 1.25rem;
  }
  .message {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .quiz-info h1 {
    font-size: 1.5rem;
  }
   #mute-icon {
    width: 1.6rem;
    padding: 0;
  }
  .logo-img {
    width:1.2rem;
  }

  
}
@media (min-width: 768px) {

  #mute-icon {
    width: 1.9rem;
    padding: 0;
  }

  .modal-title {
    font-size: 1.6rem;
  }
  .modal-body {
    font-size: 1.1rem;
  }
  .btn-custom-modal {
    font-size: 1.6rem;
  }

  /* error page */
  .container-error {
    width: 90%;
  }
  .other-page img {
  max-width: 50%;
  margin: 0 auto;
        
}
.other-page .navbar {
  padding: 1rem;
}
.other-page .logo-img {
  margin-right: 0.5rem;
}

.other-page p{
  font-size: 1.3rem;
  font-weight: 600;
 
}

.other {
  margin-top: 2rem;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
#home-btn {
  margin-top: 2rem;
  font-size: 1.3rem;
}
 
  .other-page #mute-icon{
    width: 60px;
  }

  /* start page */
  h1 { 
    font-size: 1.6rem;
    margin-bottom: 0.9rem;
    font-weight: 800;
   }

  h2 { 
    font-size: 1.4rem; 
    margin: 1rem;
    font-weight: 800;
  }

  .question-text, .message {
    font-size: 1.4rem;
  }

 .start-screen p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .error-page img {
    max-width: 50%;
  }

.custom-btn-answer, 
.custom-btn-easy, 
.custom-btn-hard, 
.custom-btn-medium, 
.topic-btn-geography,
.topic-btn-music, 
.topic-btn-general {
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-radius: 7px;
  font-weight: 700;
  max-width: 400px;
  
  }

.start-btn {
  font-size: 1.1rem;
  margin-top: 0.9rem;
  padding: 0.3rem;
  
  
}

.start-screen h1 {
  font-size: 1.4rem;
}

.start-screen h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.quiz-info p{
  font-size: 1.1rem;
  margin-top: 2rem;
}
.logo-img {
  width: 25px;
  margin-right: 0.4rem;
}
.bg-body-bg, footer {
  padding: 0.6rem;
}

/* footer */
.footer-info p, .navbar-brand, .navbar .btn-custom-modal, .socials a {
  font-size: 1.1rem;
}

  .footer-info, .navbar {
    display: flex;
    flex-direction: row;       
    justify-content:space-around;   
    align-items: center;       
    gap: 1rem;   
    padding: 0;           
  }

  .footer-info p, 
  .footer-info .socials {
    margin: 0;                 
  }

  .socials a {
    margin-left: 0.3rem;      
  }   

   .custom-btn-answer {
    margin: 0 auto;
    padding: 0 0.9rem;
  }

}

@media (min-width: 992px)
 and (orientation: landscape) {

  /* error page */
  .container-error {
  width: 100%;
  max-width: 500px;
}
    /* error page */

#home-btn {
  margin-top: 2rem;
  font-size: 1.5rem;
  
}
  .other-page img {
  max-width: 100%;
  margin: 0 auto;      
}

.other-page p{
  font-size: 1.4rem;
  font-weight: 600;
}

.other {
  margin-top: 2rem;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
}
  .other-page img {
    max-width: 1000%;
  }

.other-page h1 { 
  font-size: 2.2rem; 
  }
.other-page p {
  font-size: 1.3rem; 
  }

  .other-page #mute-icon {
    width: 35px;
  }

  /* modal */

  .modal-title {
    font-size: 1.7rem;
  }

  .modal-body {
    font-size: 1.1rem;
    line-height: 1.8;

    
  }

  /* main page */


  .question-text {
    font-size: 1.5rem;
  }


  #end-screen h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  #end-screen p {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .custom-btn-restart, .start-btn {
    font-size: 1rem;
    
  }
  .container {
    padding: 1rem;
  }
  .container-quiz, .start-screen, .container-end{
    
    max-width: 700px;
    width: 100%;
    padding: 0.6rem 1rem;
    
  }
   .answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    gap: 10px;
    
   }
 .custom-btn-answer {
  margin: 0 auto;
  width:100%;
  padding:0.4rem;
 }

 #mute-icon {
  width:1.8rem;
 }
 .navbar, .footer-info {
  padding: 0;
 }

 .container {
  padding: 0.4rem;
  max-width: 900px;
 }

 .start-screen h2 {
  font-size: 1.2rem;
 }
 .start-screen p {
  font-size: 1rem;
 }
 
 .custom-btn-easy, 
.custom-btn-hard, 
.custom-btn-medium, 
.topic-btn-geography,
.topic-btn-music,
.custom-btn-restart, 
.topic-btn-general{
  max-width: 500px;
  margin-top: 0.1rem;
 padding: 0.4rem;
 font-size: 0.9rem;
}
.custom-btn-answer {
  padding: 1.5rem;
}

.navbar-brand, .footer{
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0;
}

  button .btn-custom-modal {
  font-size: 0.5rem;
}
}

/* code built with help of chatgpt to fix portrait devices then updated accordingly */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1024px)
  and (min-height: 1024px)
  and (orientation: portrait) {

.start-screen h1 {
  font-size: 1.5rem!important;
  padding-top: 0.8rem;
  
}

.navbar-brand, .custom-btn-modal {
  font-size: 0.9rem;
  padding: 0;
  
}

.custom-btn-answer {
  padding: 1.5rem;
}
#modal-icon {
  width: 28px;
}

.answers-container{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;   
  }

  .custom-btn-answer {
    max-width: 400px;
    padding: 1rem;
    margin: 0.2rem;
  }
.container-quiz, .container {
      width: 80%; 

      padding: 0.5rem, 0; 
  }

.custom-btn-easy, 
.custom-btn-hard, 
.custom-btn-medium, 
.topic-btn-geography,
.topic-btn-music,
.custom-btn-restart, 
.topic-btn-general
{
  max-width: 400px;
  margin: 5px;
  padding: 1rem;
  font-size: 0.9rem;

}

.quiz-info p {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 600;
}
    
}








