
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page {
  width: 100%;
 
   /* container stays top-centered */
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  object-fit: cover;
  
  
}
/* error page 404 */
.other-page {
  width: 100%;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  flex-direction: column;          
  justify-content: center;         
  align-items: center; 
  background-color: #030e21; 
  background-image: linear-gradient(315deg, #3928d2 0%, #05051a 34%, rgb(28, 28, 113));  /* Page background color */ /* or overlay, screen, darken, lighten */
  padding: 2rem;

}
.error-page img {
  max-width: 50%;               
  height: auto; 

}
.error-page h1 {
  color:#e155ca;
  text-shadow: midnightblue;
  font-size:2rem;
  font-weight: 800;
}

.error-page p {
  color:#e155ca;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#home-btn {
  background-color: midnightblue;
  border:2px solid #e155ca;
  color: #05d6d9;
  font-weight: 700;
}
#home-btn:hover {
 background-color:#e155ca;
 border: 2px solid midnightblue;
 color: midnightblue;
}
/* h1, h2 */
h1 {
  margin: 5px 0;
  font-weight: 700;
  font-size: 1.3rem;
}
h2 {
  margin: 4px 0;
  font-weight: 800;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
 
}
.start-screen p {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
}


/* All screens hidden by default */
.screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}



/* Only the active screen is visible */
.screen.active {
  display: flex;
}

/* Container styling */


.container {
  width: 80%;
  max-width: 700px;
  margin: 10px auto;
  background-color: #F7E7CE;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
  padding: 8px;             
  min-height: auto;  
         
}

#start-screen p {
  font-size: 0.9rem;
}
/* buttons */
.custom-btn-easy{
    background-color: rgb(38, 128, 0);
    border: 2px outset;
    transition: transform 0.2s, background-color 0.2s;
  
     

}
.custom-btn-medium {
    background-color: rgb(212, 140, 7);
    border: 2px outset;
    transition: transform 0.2s, background-color 0.2s;
    
}

.custom-btn-hard {
    background-color: rgb(255, 25, 0);
    border: 2px outset;
    transition: transform 0.2s, background-color 0.2s;
    
}

.custom-btn-easy,
.custom-btn-medium,
.custom-btn-hard,
.topic-btn-geography,
.topic.topic-btn-music,
.topic-btn-general,
.start-btn {
  padding: 5px 10px;   
  margin: 4px;         
  font-size: 1rem;     
}

.custom-btn-hard:active, .custom-btn-medium:active, .custom-btn-easy:active {
  transform: scale(0.97)
}

/* topics buttons - Geography */

.topic-btn-geography {
  background-color: #ff854d;
  color: rgb(31, 3, 3);
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none;
}

/* Geography Hover and focus */
.topic-btn-geography:hover {
  background-color: #842e06;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.topic-btn-geography:active {
  background-color: #5a1f04;
  transform: scale(0.98);
 
}
/* music */
.topic-btn-music{
  background-color: #05d6d9;
  color: rgb(33, 7, 99) !important;
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none; 
  
}

/* music Hover and focus */
.topic-btn-music:hover {
  background-color: #093f4e;
  color: white !important;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

/* Music Active (pressed) */
.topic-btn-music:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
}
/* general knowledge */
.topic-btn-general {
  background-color: #b27bdc;
  color: white;
  border: none;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: none;
  
}

/* general Hover and focus */
.topic-btn-general:hover {
  background-color: #480e7a;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;

}

/* General Active (pressed) */
.topic-btn-general:active {
  background-color: #093f4e; 
  color: white;
  box-shadow: none;
  transform: scale(0.97); 
 
}


/* Buttons uniform size */
#difficulty, #topics {
  width: 80%;
  text-transform: uppercase;
}

.topic-btn, .difficulty{
  width: 80%;
  padding: 3px 8px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.1s, transform 0.1s;
}

/* start button */

.start-btn, .custom-btn-restart{
   
    text-transform: uppercase;
    background-color: midnightblue;
    transition: transform 0.1s, background-color 0.1s;
    border-radius: 8px;
    padding: 10 0px;
      
}

/* quiz page */
 .container-quiz, .container-end {
  background-color: #F7E7CE;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.8);
  padding: 20px;

}
.custom-btn:hover, .custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
  
}

.custom-btn:active, .custom-btn-restart:active {
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}

/* quiz screen */
.quiz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  width: 100%;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* questions */
.question-text {
 color: #333;
 font-size: 1.2rem;
 margin-bottom: 1rem;
 margin-top: 20px;
 line-height: 1.8rem;
 font-weight: 700;
}

/* answers box */
.answers-container {
  display: grid;
  grid-template-columns: 1fr; /* mobile: 1 column */
  gap: 12px;
  justify-items: center;
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}
/* answer buttons */
 .custom-btn-answer {
  width: 100%;
  min-height: 45px;
  background-color: aliceblue;
  border: none;
  border-radius: 8px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  padding: 10px;
  font-weight: 600;
  
}
.custom-btn-answer:hover{
  background-color:#e2ceaf;
  transition: 0.3s ease-in-out;
}


/* correct and incorrect indicators */
 .custom-btn-answer.correct {
  background-color: green ;
  color: white ;
  border: 3px solid darkgreen ;
}


.custom-btn-answer.incorrect {
  background-color: red ;
  color: white ;
  border: 3px solid darkred ;
}

.custom-btn-answer.disabled, .custom-btn-topic1.disabled
, .custom-btn-topic2.disabled, .custom-btn-topic3.disabled, .custom-btn-easy.disabled, .custom-btn-medium.disabled, .custom-btn-hard.disabled   {
  pointer-events: none;
  opacity: 0.5;
}
/* progress */
.progress-bar {
    width: 100%;
    height:10px;
    border:1px solid aliceblue;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress {
  height: 100%;
   background-color: rgb(255, 77, 0) !important;
   width: 0%;
  
}


/* end screen */

/* message */
.score, .message {
    font-size: 1.3rem;
    margin: 15px 0;
    font-weight: 600;
    height: auto;
} 

/* restart  */
.custom-btn-restart:hover {
  background-color: rgb(2, 2, 18);
  border: none;
  
} 

.custom-btn-restart:active{
  transform: scale(0.97);
  background-color: midnightblue!important; /*override default active style*/
}



  /* compact mute button inside navbar */
  .nav-mute-btn {
    
    line-height: 1;
    

  }
  #mute-icon {
    background-color:  rgba(76, 232, 240, 0.955);
    border: none;
    border-radius: 10px;
    
    
  }
  #mute-icon:hover {
    background-color: #f452d9;
  }

  /* navigation */
  .navbar-brand {
    font-size: 0.9rem;
  }
  .navbar-brand, #custom--btn-modal {
    color: rgba(76, 232, 240, 0.955);
     text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  /* modal */
  .btn-custom-modal {
    color: rgba(76, 232, 240, 0.955);
     text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-right: 0.3rem;
  }
  .btn-custom-modal:hover{
    color: #f452d9;
  }

  .navbar-brand:hover  {
    color: #e155ca;
  }

   a {
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  /* brand logo */
.logo-img {
  margin-right: 0.3rem;
  width: 0.9rem;
}


/* footer */
nav, footer {
  background-color: midnightblue;
  padding:1rem;
}


footer p {
  font-size: 0.8rem;
  color: #05d6d9;
  font-weight: 600;
}

footer p:hover, .socials a:hover {
  color:#e155ca;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:0.8rem   
}
  .socials a, .footer-info p {
  margin: 0 6px;
  font-size: 1.1rem;
  color: #05d6d9;
  font-weight: 600;
}

/* to fit even to the smallest phones */
@media (max-width: 380px) {
  .container,
  .container-quiz,
  .container-end,
  .screen
   {
    padding: 0;
    margin: 0;
  }

   .btn,
  .custom-btn-easy,
  .custom-btn-medium,
  .custom-btn-hard,
  .topic-btn-geography,
  .topic-btn-music,
  .topic-btn-general {
    padding: 4px 8px ;
    font-size: 0.9rem !;
  }

   h1, h2, p {
    margin: 0;
    padding: 0;
    
  }

  h2 {
    margin-top: 3px;
    font-weight: 700;
  }
  .container {
    max-width: 100%;
    padding: 5px;
  }

  .screen.active {
    justify-content: flex-start !important; 
  }
}

footer {
  padding: 0;
}



.error-page p{
  font-size: 0.9rem;
}



@media (min-width: 768px) {
  .container {
    justify-content: flex-start;
  }
 
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
    margin: 1rem;
  }

  #start-screen p {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .topic-btn, .difficulty {
    font-size: 1.2rem;
  }
  
  .question-text {
    font-size: 1.4rem;
  }
 nav{
  padding: 0.8rem;
 }
  .navbar-brand, .rules  {
    font-size: 1.2rem;
  }

  #mute-icon {
    width: 30px;
  }
  .logo-img {
    width: 28px;
  }
 

  .footer-info {
    flex-direction: row;           
    justify-content: center;       
    gap: 2rem; 
    padding: 0.8rem; 
                    
  }
  .socials a, .footer-info p {
  margin: 0 6px;
  font-size: 1.3rem;
}

.btn-custom-modal {
 font-size: 1.3rem;
}

.error-page img {
  max-width: 50%;
  max-height: 100vh;
}

}

@media (min-width:989.9px) {
   .answers-container {
    grid-template-columns: repeat(2, 1fr);
   
  }
  .error-page img {
    max-width: 80%;
  }

  .error-page h1 {
    font-size: 2.4rem;
  }
  .error-page p {
    font-size: 1.3rem
  } */

  .error-page h1 {
    font-size: 2.4rem;
  }
  .error-page p {
    font-size: 1.3rem
  } 
}